<a href="https://colab.research.google.com/github/LatifaAlnaim1996/FinalProject/blob/main/Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import seaborn as sns
import pandas as pd
from sklearn.linear_model import LogisticRegression,LinearRegression
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime
import time
import sys
import json
%matplotlib inline

In [21]:
df_taxi = pd.read_csv('https://raw.githubusercontent.com/gumdropsteve/datasets/master/nyc_transport/taxi/yellow_tripdata_2010-01.csv')

In [22]:
df_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   vendor_id           100000 non-null  object
 1   pickup_datetime     100000 non-null  object
 2   dropoff_datetime    100000 non-null  object
 3   passenger_count     100000 non-null  int64
 4   trip_distance       100000 non-null  float64
 5   pickup_longitude    100000 non-null  float64
 6   pickup_latitude     100000 non-null  float64
 7   rate_code           100000 non-null  int64
 8   store_and_fwd_flag  44362 non-null   float64
 9   dropoff_longitude   100000 non-null  float64
 10  dropoff_latitude    100000 non-null  float64
 11  payment_type        100000 non-null  object
 12  fare_amount         100000 non-null  float64
 13  surcharge           100000 non-null  float64
 14  mta_tax             100000 non-null  float64
 15  tip_amount          100000 non-null  float64
 16  tolls_amount        100000 non-null  float64
 17  total_amount        100000 non-null  float64
dtypes: float64(12), int64(2), object(4)
memory usage: 13.7+ MB

In [23]:
df_taxi.head()

  vendor_id      pickup_datetime  ... tolls_amount  total_amount
0       CMT  2010-01-19 23:36:48  ...          0.0          15.9
1       CMT  2010-01-17 23:42:41  ...          0.0           5.9
2       DDS  2010-01-07 17:14:24  ...          0.0           4.0
3       VTS  2010-01-23 19:09:00  ...          0.0           9.6
4       VTS  2010-01-25 21:30:00  ...          0.0           7.1

[5 rows x 18 columns]

In [28]:
df_taxi.tail()

      vendor_id      pickup_datetime  ... tolls_amount  total_amount
99995       CMT  2010-01-20 08:48:30  ...          0.0          15.0
99996       VTS  2010-01-17 12:00:00  ...          0.0           8.2
99997       DDS  2010-01-05 19:36:48  ...          0.0          11.0
99998       VTS  2010-01-12 14:03:00  ...          0.0           6.6
99999       CMT  2010-01-24 13:00:00  ...          0.0           4.2

[5 rows x 18 columns]

In [29]:
df_taxi.isnull().sum()

vendor_id                 0
pickup_datetime           0
dropoff_datetime          0
passenger_count           0
trip_distance             0
pickup_longitude          0
pickup_latitude           0
rate_code                 0
store_and_fwd_flag    55638
dropoff_longitude         0
dropoff_latitude          0
payment_type              0
fare_amount               0
surcharge                 0
mta_tax                   0
tip_amount                0
tolls_amount              0
total_amount              0
dtype: int64

In [30]:
df_taxi.dropna(inplace=True)

In [32]:
df_taxi.isnull().sum()

vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
trip_distance         0
pickup_longitude      0
pickup_latitude       0
rate_code             0
store_and_fwd_flag    0
dropoff_longitude     0
dropoff_latitude      0
payment_type          0
fare_amount           0
surcharge             0
mta_tax               0
tip_amount            0
tolls_amount          0
total_amount          0
dtype: int64

In [36]:
df_taxi.passenger_count.value_counts()

1    34461
2     7109
3     1773
4      988
5       31
Name: passenger_count, dtype: int64

In [37]:
len(df_taxi)

44362

In [38]:
df_taxi.shape

(44362, 18)

In [40]:
np.sum(df_taxi.isna())

vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
trip_distance         0
pickup_longitude      0
pickup_latitude       0
rate_code             0
store_and_fwd_flag    0
dropoff_longitude     0
dropoff_latitude      0
payment_type          0
fare_amount           0
surcharge             0
mta_tax               0
tip_amount            0
tolls_amount          0
total_amount          0
dtype: int64

In [41]:
df_taxi.corr()

                    passenger_count  trip_distance  ...  tolls_amount  total_amount
passenger_count            1.000000       0.027729  ...      0.015306      0.023560
trip_distance              0.027729       1.000000  ...      0.527198      0.905635
pickup_longitude           0.006435       0.005419  ...     -0.000180      0.004336
pickup_latitude           -0.006700      -0.005047  ...      0.001090     -0.003930
rate_code                       NaN            NaN  ...           NaN           NaN
store_and_fwd_flag         0.003439       0.008769  ...      0.000017      0.010213
dropoff_longitude          0.005852       0.005836  ...     -0.000301      0.004308
dropoff_latitude          -0.006020      -0.005479  ...      0.000798     -0.004167
fare_amount                0.031960       0.918100  ...      0.526711      0.982881
surcharge                  0.026212      -0.003359  ...     -0.040076      0.020342
mta_tax                    0.003717      -0.090614  ...     -0.166533     -0.229567
tip_amount                -0.040111       0.406990  ...      0.316065      0.588991
tolls_amount               0.015306       0.527198  ...      1.000000      0.600887
total_amount               0.023560       0.905635  ...      0.600887      1.000000

[14 rows x 14 columns]

In [43]:
df_taxi.passenger_count.unique()

array([1, 2, 4, 3, 5])

In [44]:
df_taxi.tail(10)

      vendor_id      pickup_datetime  ... tolls_amount  total_amount
99975       CMT  2010-01-04 21:15:24  ...          0.0          5.50
99976       CMT  2010-01-23 02:21:25  ...          0.0          5.50
99978       CMT  2010-01-21 20:02:16  ...          0.0         12.80
99979       CMT  2010-01-10 01:57:01  ...          0.0         12.30
99983       CMT  2010-01-14 15:42:25  ...          0.0         45.50
99989       CMT  2010-01-20 22:30:41  ...          0.0         10.10
99992       CMT  2010-01-17 18:35:37  ...          0.0          5.52
99993       CMT  2010-01-11 23:31:48  ...          0.0          8.30
99995       CMT  2010-01-20 08:48:30  ...          0.0         15.00
99999       CMT  2010-01-24 13:00:00  ...          0.0          4.20

[10 rows x 18 columns]